<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Front Rooms Highscores</title>
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    {% assets "styles" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" type="text/css">
    {% endassets %}
</head>
<body>
    <img src="{{ url_for('static', filename='bg.png') }}" alt="The Front Rooms pause menu" class="background">
    <div class="app">
        <header>
            <img src="{{ url_for('static', filename='title.png') }}" alt="The Front Rooms logo" class="title" height="60px">
            <nav>
                <a href="{{ url_for('views.index') }}" class="button"><i class="ph ph-house"></i></a>
                <a href="{{ url_for('views.about') }}" class="button"><i class="ph ph-info"></i></a>
                <a href="#" class="button"><i class="ph ph-download-simple"></i></a>

                <!-- This is a spacer -->
                <span></span>

                {% if current_user.is_authenticated %}
                    <a href="{{ url_for('auth.account') }}" class="button primary">{{ current_user.username }}</a>
                {% else %}
                    <a href="{{ url_for('auth.auth') }}" class="button primary"><i class="ph ph-identification-card"></i></a>
                {% endif %}
            </nav>

            <!-- Secondary nav bar for page specific content -->
            {% block nav %}{% endblock %}
        </header>

        <!-- This is where the flash messages will be displayed -->
        <div class="flash">
            {% for message in get_flashed_messages() %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>

        <main>
            {% block content %}{% endblock %}
        </main>

        <footer>
            <p>By Project Redacted | <a href="https://github.com/Fluffy-Bean/GameExpo23">Server Source</a></p>
        </footer>
    </div>
</body>
</html>